body{background-color: #A2AF9B; font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
color: #014421;}



.logo{height: 100px; opacity: 75%;}

h1{color: #386641; text-align: center; margin-bottom: 0%; padding: 10px;
}

h1+p{text-align: center; margin-top: 0; padding-bottom: 100px;}




#first-pic h2{margin-left: 10px;}
#second-pic h2{margin-left: 10px;}
#Third-pic h2{margin-left: 10px;}


.first-line>div {height: 400px; width: 400px; position:relative; }
.first-line{display: flex; gap: 100px; padding-left: 80px;}

.first-line img{height: 350px; width: 350px;}
=========================================



#fourth-pic h2{margin-left: 10px;}
#fifth-pic h2{margin-left: 10px;}
#sixth-pic h2{margin-left: 10px;}


.second-line>div {height: 400px; width: 400px; position:relative; }
.second-line{display: flex; gap: 100px; padding-left: 80px;}

.second-line img{height: 350px; width: 350px;}
.first-line{margin-bottom: 60px;}
=========================================

#seventh-pic h2{margin-left: 10px;}
#eighth-pic h2{margin-left: 10px;}
#ninth-pic h2{margin-left: 10px;}


.third-line>div {height: 400px; width: 400px; position:relative; }
.third-line{display: flex; gap: 100px; padding-left: 80px;}

.third-line img{height: 350px; width: 350px;}
.second-line{margin-bottom: 60px;}



@media (max-width: 480px) {
  body{ background-color:#A2AF9B;

    
  
  
  
  
  }
 
   .first-line{display: flex; flex-direction: column; gap: 100px; padding-left: 80px;} 
   .second-line{display: flex; flex-direction: column; gap: 100px; padding-left: 80px;}
   .third-line{display: flex; flex-direction: column;  gap: 100px; padding-left: 80px;}

}
